---
export const prerender = true;
import "@fontsource-variable/baloo-2"
import AppLayout from "@layouts/AppLayout/AppLayout.astro"
import LinkableCard from "@components/Cards/LinkableCard.svelte"
const { pathname } = Astro.url
import "@styles/topic_travel.css"
---
<AppLayout title="Topic">
	<div slot="header" />
	<div slot="breadcrumb" />
	<main class="topic-container">
		<div>
			<h1 class="topic-h1">Topics</h1>
			<div class="topic-gridList">
				<LinkableCard internalUrl={`${pathname}/travel`} client:load>
					<div slot="title">Travel</div>
				</LinkableCard>
			</div>
		</div>
	</main>
	<div slot="footer" />
</AppLayout>
