---
export const prerender = true;
import fetchApi from "@libs/strapi"
import type Place_Region from "@interface/place_region"
import AppLayout from "@layouts/AppLayout/AppLayout.astro"

export async function getStaticPaths() {
	const results = await fetchApi<Place_Region[]>({
		endpoint: "place-regions",
		wrappedByKey: "data"
	})
	return results.map((data) => ({
		params: {
			abbreviation: data.attributes.abbreviation
		},
		props: data
	}))
}

const region = Astro.props
---

<AppLayout>
	<div slot="header" />
	<main class="container mx-auto">
		<div class="p-4">
			<h1 class="text-3xl font-bold">{region.attributes.name}</h1>
		</div>
	</main>
	<div slot="footer" />
</AppLayout>
