---
import AppLayout from "../AppLayout/AppLayout.astro";
const props = Astro.props
const { header } = props as any
---
<AppLayout>
    <div slot="header"/>
    <main>
        <div class="page p-4">
            <h1 class="page--header text-2xl pb-3 mr">
                {header}
            </h1>
            <slot/>
        </div>
    </main>
    <div slot="footer"/>
</AppLayout>
<style>
    .page {
        &--header {
            font-family: "Lora Variable", sans-serif;
        }
    }
</style>