---
import { Icon } from "astro-icon/components"
import AppLayout from "../AppLayout/AppLayout.astro"
const url = Astro.url
const props = Astro.props
const { title, description, header } = props as any
const { pathname } = url
const breadcrumb = pathname?.split("/")?.filter(t => t.length)?.slice(0, -1)
const breadcrumbList = breadcrumb?.map((urlText, idx, ary) => ({
	name: decodeURIComponent(urlText),
	url: `/${ary.slice(0, idx + 1).join("/")}`
}))
---
<AppLayout title={title || header} description={description}>
	<div slot="header" />
	<main>
		<slot name="header" />
		<div class="flex flex-wrap flex-col gap-4 p-4 pb-0">
			<div class="breadcrumb flex flex-wrap gap-0.5 justify-start items-end text-xs font-medium">
				<a href="/">Home</a>
				{breadcrumbList.map(({name, url}) => {
					return (
						<Icon name="mdi:chevron-right" size={14} />
						<a href={url}>{name}</a>
					)
				})}
			</div>
		</div>
		<div class="page p-4">
			<h1 class="page--header text-4xl font-semibold pb-3 mr">
				{header}
			</h1>
			<slot />
		</div>
		<div class="flex flex-wrap justify-center py-4">
			{breadcrumbList.at(-1) && (
				<a href={breadcrumbList.at(-1)?.url} class="flex flex-wrap justify-start items-end border rounded-3xl shadow px-2 pt-1 pb-1.5 select-none">
					<Icon name="mdi:chevron-left" size={22} />
					<span class="pr-2">{breadcrumbList.at(-1)?.name}</span>
				</a>
			)}
		</div>
		<slot name="footer" />
	</main>
	<div slot="footer" />
</AppLayout>
<style>
    .page {
        &--header {
            font-family: "Lora Variable", sans-serif;
        }
    }
</style>
