---
import { SEO } from "astro-seo"
const props = Astro.props
const { title, description } = props as any
import "@styles/global.css"
import "@styles/appLayout.css"
import Header from "@components/Header/Header.astro"
import Breadcrumb from "@components/Breadcrumb/Breadcrumb.astro"
import Footer from "@components/Footer/Footer.astro"
---
<html lang="en">
<head>
	<SEO
		charset="UTF-8"
		title={title || "Homepage"}
		titleTemplate="%s - me.chunkit.hk"
		description={description || ""}
		twitter={{
			creator: "@joeleung32"
		}}
		extend={{
			link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
			meta: [
				{
					name: "viewport",
					content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
				}
			]
		}}
	/>
</head>
<body>
<div class="app">
	<slot name="before-header" />
	{Astro.slots.has("header") &&
		<Header />}
	{Astro.slots.has("breadcrumb") &&
		<Breadcrumb />}
	<slot name="after-header" />
	<slot />
	<slot name=="before-footer" />
	{Astro.slots.has("footer") &&
		<Footer />}
	<slot name="after-footer" />
</div>
</body>
</html>
