@import "global.css";

.topic {
    &-container {
        @apply container mx-auto px-4 pb-4 ff-baloo;
    }

    &-h1,
    &-h2,
    &-h3 {
        @apply font-bold;
    }

    &-h1 {
        @apply text-4xl mb-4;
    }

    &-h2 {
        @apply text-3xl mb-3;
    }

    &-h3 {
        @apply text-2xl mb-2;
    }

    &-gridList {
        @apply grid grid-cols-1 gap-4 mb-10;
        @apply md:grid-cols-2;
        @apply lg:grid-cols-3;
        @apply xl:grid-cols-4;
    }

    &-horizontalGridList {
        @apply overflow-hidden overflow-x-auto;
        @apply grid grid-flow-col gap-4 p-1 px-2 pb-4;
        @apply md:grid-cols-3 md:px-0;
        @apply lg:grid-cols-4;
        @apply xl:grid-cols-5;
        @apply 2xl:grid-cols-6;

        &:last-child {
            @apply mb-0;
        }

        @media not all and (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, 240px);
            grid-auto-columns: 240px;
            max-width: calc(100dvw - (theme(padding.4) * 2));
        }
    }
}
