---
import { Icon } from "astro-icon/components"
const { item: { title, child, href, target } } = Astro.props
const hadChild = !(typeof child === "undefined" || child.length === 0)
---
<div class="section-item flex flex-wrap justify-between items-center cursor-pointer p-0 hover:bg-gray-100">
	<a href={href} target={target} class="section-item-name flex-grow pl-3 py-2">
		<span class="font-medium">{title}</span>
	</a>
	{hadChild &&
		<div class="icon p-2 px-4 bg-gray-600">
			<Icon name="mdi:chevron-right" size={24} class="text-white" />
		</div>}
</div>
