---
import "@fontsource-variable/noto-sans-hk"
import "@fontsource-variable/lora"
import AppLayout from "../../../../layouts/AppLayout/AppLayout.astro"
const params = Astro.params
// const { region, postcode } = params
---
<AppLayout>
    <div slot="header"/>
    <main>
        <h1>[Postcode]</h1>
        <div>{JSON.stringify(params)}</div>
    </main>
    <div slot="footer"/>
</AppLayout>
