---
export const prerender = true;
import AppLayout from "@layouts/AppLayout/AppLayout.astro";
import "@styles/global.css"
const time = new Date().toLocaleTimeString();
---
<AppLayout>
    <div slot="header"/>
    <main class="font-baloo container mx-auto">
        Main
    </main>
    <div slot="footer"/>
    <!--
    <div slot="before-header">
        <div class="font-baloo bg-gray-100 text-gray-700 text-center py-10">
            before-header
        </div>
    </div>
    <div slot="after-header">
        <div class="font-baloo bg-gray-100 text-gray-700 text-center py-10">
            after-header
        </div>
    </div>
    <div slot="before-footer">
        <div class="font-baloo bg-gray-100 text-gray-700 text-center py-10">
            before-footer
        </div>
    </div>
    <div slot="after-footer">
        <div class="font-baloo bg-gray-100 text-gray-700 text-center py-10">
            after-footer
        </div>
    </div>
    -->
</AppLayout>
