---
export const prerender = true
import "@fontsource-variable/baloo-2"
import AppLayout from "@layouts/AppLayout/AppLayout.astro"
import LinkableCard from "@components/Cards/LinkableCard.svelte"
const { pathname } = Astro.url
import "@styles/topic_travel.css"
import fetchApi from "@libs/strapi"
import type Place_Country from "@interface/place_country"
const countries = await fetchApi<Place_Country[]>({
	endpoint: "place-countries",
	wrappedByKey: "data",
	query: {
		"sort[0]": "name"
	}
})
---
<AppLayout title="Travel">
	<div slot="header" />
	<div slot="breadcrumb" />
	<main class="topic-container">
		<h1 class="topic-h1">Travel</h1>
		<div class="topic-gridList">
			{countries.map((data) => (
				<LinkableCard internalUrl={`${pathname}/${data.attributes.name}`} client:load>
					<picture slot="thumbnail">
						<source
							media="not all and (min-width: 768px)"
							srcset="https://picsum.photos/480/270"
						/>
						<img src="https://picsum.photos/1024/768" />
					</picture>
					<span slot="title">
						{data.attributes.name}
					</span>
				</LinkableCard>
			))}
		</div>
	</main>
	<div slot="footer" />
</AppLayout>
