---
const currentYear = new Date().getFullYear()
---
<footer class="bg-white py-2 text-xs ff-baloo">
	<div class="container mx-auto px-4">
		<span class="text-gray-400">
			Copyright © 2011 - {currentYear}. All Rights Reserved.
		</span>
	</div>
</footer>
