---
import NavSectionItem from "./NavSectionItem.astro"
import NavSectionChild from "./NavSectionChild.astro"
const { item } = Astro.props
const { child } = item
const hadChild = !(typeof child === "undefined" || child.length === 0)
---
<div class="section">
	<NavSectionItem {...Astro.props} />
	{hadChild && child.map((item: any) =>
		<NavSectionChild item={item} />)}
</div>