---
import "@fontsource/lato";
import Header from "../Header/Header.astro";
import Footer from "../Footer/Footer.astro";
const { fullscreen } = Astro.props;
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
</head>
<body>
<div class="app">
  {!fullscreen &&
    <Header />}
  <slot />
  {!fullscreen &&
    <Footer />}
</div>
</body>
</html>
<style is:inline>
    body > div.app {
        display: grid;
        min-height: 100dvh;
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(32px, auto) 1fr minmax(24px, auto);
        grid-template-areas:
								"hd"
								"ma"
								"ft";

        &[data-fullscreen="true"] {
            grid-template-rows: 1fr;
            grid-template-areas: "ma";
        }

        @media not all and (min-width: 768px) {
        }

        header {
            grid-area: hd;
        }

        footer {
            grid-area: ft;
        }
    }
</style>
