---
import AppLayout from "../../layouts/AppLayout/AppLayout.astro";
const time = new Date().toLocaleTimeString();
---
<AppLayout>
  <div slot="header" />
  <main>
    <h1>/test</h1>
    <h1>{time}</h1>
  </main>
  <div slot="footer" />
</AppLayout>
